body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

a:link {
    color: #000000;
}

a:visited {
    color: #444444;
}

h2 {
    color: #cb6940;
    margin-bottom: 0px;
}

h3 {
    color: #4b9fc3;
    margin-bottom: 0px;
}

p {
    text-align: justify;
}

p.mission {
    color: #4b9fc3;
    margin-top: 0px;
    font-weight: bold;
    font-size: 120%
}

header {
    background: #ffffff;
    text-align: center;
    font-family: "Times New Roman", serif;
}

header a {
    text-decoration: none;
}

header p a {
    text-decoration: underline;
}

footer {
    text-align: center;
}

footer img {
    padding: 5px;
}

img.center {
    display: block;
    margin: 0 auto;
}

img.news {
    display: inline;
    float: left;
    max-width: 100%;
    height: 200px;
    margin-right: 5px;
    border: 1px solid black;
}

nav {
    padding: 5px;
    font-family: "Times New Roman", serif;
    font-size: 100%;
    width: 20%;
    margin-left: 2%;
    display: inline-block;
    float: right;
}

nav ul {
    background: rgba(75,159,195,0.25);
    list-style: none;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

nav li {
    padding-bottom: 5px;
}

nav ul ul {
    padding-top: 0px;
    padding-left: 10px;
    background: none;
}

nav ul ul li {
    padding-top: 0px;
    padding-bottom: 0px;
}

ul {
    padding-top: 0px;
    margin-top: 0px;
}

ul.nobullet {
    list-style: none;
}

nav img:decoration {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

section {
    font-size: 100%;
    width: 20%;
    margin-left: 2%;
    display: inline-block;
    float: right;
}

h1 {
    color: #4b9fc3;
    font-size: 150%;
    margin-bottom: 0px;
    margin-top: 15px;
}

div.bio img {
    width: 100px;
    display: inline-block;
    padding-right: 10px;
    padding-top: 15px;
    float: left;
}

p.note {
    font-style: italic;
}

p.highlight {
    font-weight: bold;
    color: #4b9fc3;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

p.center {
    text-align: center;
}

ul.roomy li {
    margin-bottom: 10px;
}

table {
    border: none;
    padding-left: 3px;
    padding-right: 3px;
}

td, th {
    padding-right: 10px;
}

td {
    vertical-align: top;  
}

th {
    text-align: left;
}

table.headingcolumn td:first-child {
    color: #4b9fc3;
    font-weight: bold;
}

div.multicolumn {
    display: block;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
}

div.multicolumn ul {
    padding-left: 18px;
}

div.img_bar {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #4b9fc3;
    text-align: center;
}

div.img_bar img {
    box-sizing: border-box;
    border: 1px solid black;
    display: inline-block;
    margin-left: -2px;
    margin-right: -2px;
    padding: 0;
    width: 33%;
}

div.img_bar_vert {
    box-sizing: border-box;
    float: left;
    display: inline;
    width: 25%;
    background-color: #4b9fc3;
    align-items: stretch;
    overflow: hidden;
}

div.img_bar_vert img {
    box-sizing: border-box;
    border: 1px solid black;
    display: block;
    margin: auto;
    padding: 0;
    width: 90%;
}

div.content img.logo {
    box-sizing: border-box;
    border: 0px;
    float: right;
    display: inline-block;
    height: 120px;
    padding: 2px;
}

div.content {
    box-sizing: border-box;
    float: right;
    display: inline-block;
    width: 75%;
    padding-left: 10px;
    background-color: #ffffff;
}

div.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
