body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a:link {
    color: #000000;
}

a:visited {
    color: #444444;
}

h1 {
    color: #4b9fc3;
    size: 125%;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    color: #cb6940;
    margin-bottom: 0px;
}

h3 {
    color: #4b9fc3;
    margin-bottom: 0px;
}

p {
    text-align: justify;
}

header {
    background: #ffffff;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 80%;
}

nav {
    background: rgba(75,159,195,0.25);
}

section {
    font-size: 100%;
    width: 20%;
    margin-left: 2%;
    display: inline-block;
    float: right;
}

