#navbar table
{
font-family: verdana;
background: #D6846B /* DA9980 #EEDD66*/;

font-size:16;
}



td.nav{
background-color: #D6846B /* DA9980  EEDD66*/;
}

td img.decoration{ display: block;}


H2 { FONT-FAMILY: Arial,Helvetica}
/* does not work on netscape 4 without this */

td.spacing
{
padding-right: 30px;
}

td.main
{
font-size: 16;
font-family: arial,helvetica;
/*georgia sans-serif */
background: white;
/*background: #4B9FC2 no#4BAFD2*/
/*filter: alpha(opacity=63);
-moz-opacity:.63;
opacity:.63;*/
}

#title table  
{
font-size: 25;
font-family: arial,helvetica;
/*verdana sans-serif */
color: black;
background: #4AAEBA /* #4BAFD2*/;
}
td.title{
background: #4AAEBA /* E6F7FE #4BAFD2*/;
}

#titlep table  
{
font-size: 30;
font-family: verdana;
color: black;
background: #4AAEBA /*#4BAFD2*/;
}
td.titlep{
background: #4AAEBA /*#4BAFD2*/;
}

#printable table  
{
font-family: verdana;
color: black;
}
tr.printableL
{
font-size: 40;
}
tr.printableM
{
font-size: 20;
text-align:center
}


#footer table
{
font-family: arial;
font-size: 14;
}

td.color
{
background-color: #D6846B /*#CA6950*/;

}

#sidebar table
{

font-family: verdana;
font-size: 16;
}

#sidebar td{
padding-top: 10px;
}

#sidebar a{
color: #FFFFAA;
text-decoration: none;
}

#sidebar a:link
{
color: #FFFFAA;
text-decoration: none;
}

#sidebar a:hover{
color: #FFFFAA;
text-decoration: none;
}

#sidebar a:visited{
color:  #FFFFAA;
text-decoration: none;
}

#navbar a{
color: #FFFFAA /* #880000 */;
}

#navbar a:link
{
color: #FFFFAA /* #880000 */;
text-decoration: none;
}

#navbar a:hover
{
color: #FFFFAA /* #880000 */;
text-decoration: none;
}

#navbar a:visited{
text-decoration: none;
color: #FFFFAA /* #880000 */;
}

td.foot
{
font-size: 14;
font-family: times;
background-color: white;
}

